<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
     background-image: url("https://img.freepik.com/premium-photo/abstract-holographic-iridescent-neon-wall-motion-dark-background-gradient-design-element-banners-backgrounds-wallpapers-covers-3d-render_91497-10492.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699401600&semt=ais");
     background-color: white;
    }

    .container-card{
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
      max-width: 600px;
      height: 200px;
      margin: auto;
      text-align: left;
      padding: 20px;
      font-family: arial;
    }

    .header {
      background-color: #007bff;
      color: #ffffff;
      padding: 20px;
      text-align: center;
      border-radius: 10px 10px 0 0;
      margin-bottom: 20px;
    }

    .card-title {
      font-size: 1.5rem;
      color: #007bff;
      margin-bottom: 0.5rem;
    }

    .card-subtitle {
      color: #6c757d;
      margin-bottom: 1rem;
    }

    .card-text {
      color: #495057;
    }
  </style>
</head>

<body>
        <div class="container-card">
          <div class="header">
            <h1>Project Details</h1>
          </div>
          <h3 class="card-title"><strong> Project Name : </strong><%= project.name %></h3>
          <h5 class="card-subtitle mb-2 text-muted"><strong> Author : </strong><%= project.author %></h5>
          <h5><p class="card-text"><strong> Description : </strong><%= project.description %></p></h5>

        <%- include('./partials/_issues'); %>
      </div>

  <!-- Bootstrap JS and Popper.js -->
</body>

</html>
