<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/JgcWR5JCFAlX6jw55J5/JUipF"
    crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .project-container {
      width: 50%;
      margin: 50px auto;
      border: 1px solid #6c757d;
      border-radius: 10px;
      padding: 20px;
    }

    .project-title {
      background-color: #343a40;
      color: #ffffff;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .project-info {
      background-color: #f8f9fa;
      color: #495057;
      padding: 20px;
      border: 1px solid #6c757d;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .project-info h4,
    .project-info h5 {
      margin-bottom: 0;
    }
  </style>
</head>
<body>

<div class="project-container">
  <h3 class="display-5 project-title">Project: <%= project.name %></h3>
  <div class="project-info">
    <h4 class="display-6">Author: <%= project.author %></h4>
    <h5 class="display-6">Description: <%= project.description %></h5>
  </div>
</div>

<%- include('./partials/_issues'); %>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJop1iqOf3uqOGy++kg7Lh/1pb1JZjK"
  crossorigin="anonymous"></script>
</body>
</html>
